body {
  background-color: #555;
  display: flex;
  justify-content: center;
  display-flex: wrap;
}

.card {
  font-family: Times New Roman, Times, serif;
  background-color: white;
 /* gradient for lines going left to right, spanning several rows */
  background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 26px);
/* positioning of lines in background plane*/ 
  background-position-y: 36px;
  height: 300px;
  width: 500px;
  padding: 0;
  margin-top: 50px;
  margin-right: 15px;
  
}

.card header {
  background: linear-gradient(white, white 32px, green 36px, green 36px);
  height: 36px;
}

.card-title {
 position: relative;
 left: 10px;
 top: 8px;
 font-size: 30px;
 font-weight: bold;
}
/*text has to move to next line freely without creating new list item*/
.card-text {
 position: relative;
 display: inline-block;
 top: 30px;
 font-size: 18px;
 margin: 0 20px;
 line-height: 27px;
}
  
/* for javascript*/
.done {
  text-decoration: line-through;
}
